@media screen {
    #print-block{
        display: none;
    }
}
.btn-margin-5-top-left button {
    margin-left: 5px !important;
}

table.no-wrap tr,
.no-wrap,
table.no-wrap td{
    white-space: nowrap;
}
/**
Customs
 */
.page-header.navbar .page-logo > .logo-image, .page-header.navbar .page-logo > a {
    color: white;
    font-size: 15pt;
    /* text-align: center; */
    float: none;
}
.page-header.navbar .page-logo {
    float: left;
    display: block;
}
.page-header.navbar .menu-toggler.sidebar-toggler {
    float: right;
    display: none;
    margin: 11px 0 0 0;
}
/** Phone + table */
@media (max-width: 480px) {
    .page-header.navbar .menu-toggler.responsive-toggler {
        position: absolute;
        left: 90px;
    }

    .page-header.navbar .top-menu {
        right: 0;
        position: absolute;
        top: 0;
    }
}
.width-10p{
    width: 10% !important;
}
.width-30p{
    width: 30% !important;
}
.width-3p{
    width: 3% !important;
}
.width-5p{
    width: 5% !important;
}
.width-7p{
    width: 7% !important;
}
.padding-top-25{
    padding-top: 25px;
}
.margin-top-25{
    margin-top: 25px;
}
/**
print
 */
@media screen {
    #ketquathongke{

    }
    #print-block{
        display: none;
        margin: 0;
    }
}
@media print {
    #ketquathongke{

    }
}
.btn-full-width{
    color: white !important;
    width: 100%;
}
.table-hover-blue tbody tr:hover{
    background-color: rgba(10, 126, 169, 0.53);
    cursor: pointer;
}
.cv-time-new-roman{
    font-family: "Times New Roman";
    font-size: 10pt;
}
.table-no-padding table td{
    padding: 1px;
}
@media print {
    #table-ship table input,
    #table-ship table select,
    #table-ship table textarea{
        border: none;
        background: none;
        padding: 1px;
    }
    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
        padding: 1px;
    }
    #table-ship table{
        font-size: 10pt;
    }

    #table-ship td{
        vertical-align: middle;
    }
    .cv-china *{
        font-size: 10pt;
    }

    h1{
        font-family: "Times New Roman";
    }
    #print-block-ship
    {
        font-family: "Times New Roman";
        font-size: 10pt;
    }
    #print-block-ship td{
        padding: 3px 5px;
    }
}
.table-vertical-middle td{
    vertical-align: middle !important;
}
.logo-nst{
    position: absolute;
}
.block-ship-views-detail{
    position: relative;
}
.table-tanker td:nth-child(2n+1){
    text-align: right;
    font-weight: 600;
}
.margin-top-50{
    margin-top: 50px;
}
tr.bottom-row-dotted {
    border-bottom: 1px dotted #CCCCCC;
}
.td-padding-3 td{
    padding: 3px;
}
.no-padding-right{
    padding-right: 0;
}
.no-padding{
    padding: 0;
}
.no-padding-left{
    padding-left: 0;
}
.height-500{
    max-height: 500px;
}
#table-thuyenvien #crud-datatable-container{
    max-height: 400px !important;
}
.sinhnhat-thuyenvien,  .sinhnhat-thuyenvien:hover{
    color: white;
}
.margin-bottom-0{
    margin-bottom: 0;
}
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

.row-selectable:hover{
    cursor: pointer;
    /*background: #0a6aa1;*/
    /*color: white;*/
}
.color-white {
    color: white !important;
}
td.td-width-200px{
    max-width: 200px;
    overflow: hidden;
}
.table-hover tbody tr:hover {
    background: #0a6aa1 !important;
    cursor: pointer;
}
.table-hover tbody tr:hover td{
    color: white;
}
#bang-diem-jlpt table tbody tr:hover{
    background: none;
}
.note h1, .note h2, .note h3, .note h4, .note h5, .note h6{
    margin: 0;
}
#chartdiv {
    width		: 100%;
    height		: 500px;
    font-size	: 11px;
}
.hover-click:hover{
    background: #8bc5eb;
    cursor: pointer;
}
.bg-thieuungvien {
    background: #ef08082e !important;
}
.row-Xinghiep:hover {
    background: #428bca !important;
    cursor: pointer;
    color: #fff;
}
.margin-top-5{
    margin-top: 5px;
}
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    position: relative;
    margin-top: 4px \9;
    margin-left: unset;
}
.checkbox-inline label {
    margin-right: 20px;
}
.page-header.navbar .page-logo {
    float: left;
    display: block;
    width: 90px !important;
    /* height: 46px; */
    padding-left: 20px;
    /* padding-right: 20px; */
}
.list-block label {
    /* display: block; */
    min-width: 170px;
}
.list-block-hinh-thuc-dk label {
    /* display: block; */
    width: 33%;
}
.border-bottom {
    border-bottom: 1px solid;
}
#print-don-hang td{
    padding: 5px;
}

.select2-drop{
    z-index: 99999999;
}
.bg-grey {
    background-color: #e6e6e6 !important;
}
.bg-success {
    background-color: #dff0d8 !important;
}
.fc-time-grid-event .fc-time {
    font-size: 13pt;
    white-space: nowrap;
    font-weight: bold;
}
.fc-event {
    position: relative;
    display: block;
    font-size: 10pt;
    line-height: 1.3;
    border-radius: 3px;
    border: 1px solid #3a87ad;
    background-color: #3a87ad;
    font-weight: 400;
}
.bg-primary {
    color: #fff;
    background-color: #337ab7 !important;
}
.time-booked {
    padding: 10px;
    margin-left: 10px;
    width: 47%;
    float: left;
    margin-bottom: 10px;
}
.time-booked, .time-booked.bg-warning {
    background-color: #e6c516;
}
.time-booked.bg-warning:hover {
    background-color: #ffd804;
}
.time-booked:hover {
    cursor: pointer;
    /* background: #337ab7; */
}
.time-booked:nth-child(2n+1) {
    clear: both;
}
.bg-warning a {
    color: #333;
}
.btn-parent-service {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}
.bg-primary .service-booking {
    background: #0c3a6145;
    padding: 5px;
}
.bg-primary .service-booking {
    background: #0c3a6145;
    padding: 5px;
}
.bg-warning .service-booking {
    background: #f5d912;
    padding: 5px;
}
.mg-bt-0{
    margin-bottom: 0;
}
.mg-t-10{
    margin-top: 10px;
}
.mg-t-20{
    margin-top: 20px
}
.pd-10{
    padding: 10px;
}
hr {
    margin: 10px 0;
}
.bg-success .text-success, .bg-success a {
    color: #3c763d;
}
.text-danger {
    color: #F3565D !important;
}
#table-bang-ke-hoac-muc-tieu th{
    vertical-align: middle;
}
table#table-bang-ke-hoac-muc-tieu tbody td input {
    border: none;
    border-bottom: 1px solid #f2f2f2;
}

table#table-bang-ke-hoac-muc-tieu tbody td {
    padding: 3px;
}
.input-padding-3{
    padding: 3px;
}
.input-font-9{
    font-size: 9pt;
}
.padding-top-10 {
    padding-top: 10px;
}
.list-inline label {
    margin-right: 20px;
}
.nhom-muc-tieu-row {
    background: #4c7cb2 !important;
    color: #ffffff;
    padding: 8px;
}
.page-title {
    padding: 0px;
    font-size: 14pt;
    letter-spacing: unset;
    display: block;
    margin: 0px 0px 15px 0px;
    font-weight: 500;
    color: #428bca;
}
.nhom-cong-viec {
    background-color: #337ab7 !important;
}
.jconfirm .jconfirm-box div.jconfirm-content-pane .jconfirm-content {
    overflow: -webkit-paged-x !important;
}
.thead-middle thead th{
    vertical-align: middle !important;
}
table.cke_dialog.cke_browser_webkit.cke_ltr {
    z-index: 100000 !important;
}
.blog-twitter {
    background: #d6e9c6;
    padding: 10px;
    border-left: 3px solid #3c763d;
}
.blog-twitter p {
    padding: 5px 0;
}
.blog-twitter span {
    font-style: italic;
    font-size: 9pt;
}
.form-group {
    /* margin-bottom: 15px; */
    margin: 10px 0;
}
.blog-twitter a {
    color: #1d561e;
}
.blog-twitter hr {
    /* background: #3c763d; */
    border-top: 1px solid #3c763d47;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li > a {
    border-bottom: 1px solid #EFF2F6 !important;
    color: #333333;
    padding: 5px;
}
.font-size-16{
    font-size: 16pt;
}
.jconfirm .jconfirm-box div.jconfirm-content-pane .jconfirm-content {
    overflow: unset;
    padding-bottom: 20px;
}
.text-white{
    color: #FFFFFF;
}
.jconfirm .jconfirm-box div.jconfirm-title-c .jconfirm-title {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: inherit;
    font-family: inherit;
    display: inline-block;
    font-size: 14pt;
    line-height: 18pt;
    vertical-align: middle;
}
.margin-top-35 {
    margin-top: 35px;
    margin-bottom: 0;
}
a.link-xem-chi-tiet-tai-lieu {
    color: #a94442;
    font-weight: bold;
}
.padding-bottom-0{
    padding-bottom: 0 !important;
}
.margin-bottom-0{
    margin-bottom: 0 !important;
}
h3.page-title {
    font-size: 16pt;
    color: #31708f;
    position: relative;
    padding-bottom: 5px;
}
h3.page-title:after {
    border-bottom: 2px solid #31708f;
    width: 50px;
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
}
li.bg-primary a, li.bg-primary i {
    color: #ffffff !important;
}
table  ul.dropdown-menu.list-inline {
    background: #31708f;
}
table ul.dropdown-menu.list-inline a, ul.dropdown-menu.list-inline i,
table ul.dropdown-menu.list-inline a, ul.dropdown-menu.list-inline a{
    color: #ffffff;
}
table .dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
    text-decoration: none;
    background-image: none;
    background-color: #2d647f;
    color: #ffffff;
    filter: none;
}
.block-tao-loai-tien-do ul li:nth-child(4n+1) {
    clear: both;
    display: block;
    content: "";
    margin: 5px 0;
}
.bg-warning {
    background-color: #fcf8e3 !important;
}

tr.kv-grid-group-row td {
    background: none !important;
    color: #fff;
}
tr.kv-grid-group-row {
    background: #337ab7 !important
}
.text-white {
    color: #ffffff !important;
}
tr.bg-nhom-cv {
    background: #337ab7 !important;
    color: #fff;
}
tr.bg-cong-viec {
    background: #e0a820 !important;
    color: #fff;
}
